<%-include("partials/header.ejs")%>
<h1>Korean Name Generator</h1>
<h2>한국 이름 생성기</h2>
<div id = "container">
    <form action = "/male" method = "GET">
        <input type = "submit" value = "Male">
    </form>
    <form action = "/female" method = "GET">
        <input type = "submit" value = "Female">
    </form>
</div>
